*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
h1{
	color: #333;
	border-radius: 0;
	border-radius: 0;
}
img{
	width: 100%;
}
.jumbotron{
	border-radius: 0;
	background-color: #cba;
	padding: 80px;
	z-index: 88;
}
.my-container{
	background-color: #abc;
	max-width: 90%;
	position: absolute;
	left: 5%;
	top: 20vh;
	z-index: 2;
}
.card{
	display: inline-block;
	margin: 10px 0;
}
.card:hover{
	box-shadow: 5px 5px 15px grey;
}
.test{
	background: darkslategrey;
	/*border: 3px solid black;*/
	height: 500px;
	width: 500px;
	margin: auto;
}
.col-img{
	width: 500px;
	max-width: 100%;
	height: auto;
	margin: auto;
	display: block;
}
.row{
	margin: 35px auto;
	align-items: center;
}
.col-lg{
	margin: 0 5px;
	/*background-color: lightgrey;*/
}
/*.my-container:hover{
	cursor: pointer;
	box-shadow: 5px -5px 15px darkgrey;
}*/

@media only screen and (max-width: 500px) {
	.my-container{
		max-width: 100%;
		width: 100%;
		position: relative;
		left: 0;
		top: -50px;
	}
}